
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home_Index</title>
</head>
<body>
    <div align="center">
        <h1>Allie Accounting Solutions</h1>
        <br/><hr/>
        <div>
            login &nbsp; <a href="/Home/CreateCompany">Start for your company</a>
        </div>
    </div>
</body>
</html>
