
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <div align="center">
            <h1>Allie Accounting</h1>
            <br/><hr/>
            <a href="#">Employees</a> &nbsp;
            <a href="#">Accounts</a> &nbsp;
            <a href="#">Transactions</a> &nbsp;
            <a href="#">Journals</a> &nbsp;
            <a href="#">Ledgers</a> &nbsp;
            <a href="#">Income Statements</a>
            <br /><hr />
        </div>
    </div>
</body>
</html>
