@using AllieEntity
@using AllieService
@using AllieService.ServiceInterfaces

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Generate Ledger}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/JournalCreate.js"></script>
    
<div align="center"class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table>
            <tr>
                <td>Journal Description</td>
                <td class="form-inline">
                    <textarea class="form-control" cols="50" rows="2" name="Description" id="Description"></textarea>
                    <label style="color: red">*</label><br />
                    <p hidden id="descError"></p>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>Select Month</td>
                <td class="form-inline">
                    <select name="Period" class="form-control">
                        @{
                            string[] months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
                            List<DateTime> transactionDateList = (List<DateTime>)ServiceFactory.GetTransactionServices().GetDistinctDates((int)Session["CompanyId"]);
                                
                            foreach (DateTime date in transactionDateList)
                            {
                                string d = string.Format("{0}-{1}", date.Month-1, date.Year);
                                <option value="@d">@months[date.Month-1] of @date.Year</option>
                            }
                        }
                    </select>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" class="btn btn-success" id="submit" value="Generate journal for the selected period" disabled/>
                    <a href="/Journal/Index" class="btn btn-success">Journal List</a>
                </td>
            </tr>
        </table>
            
    }
</div> 