@model AllieEntity.Ledger

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<script src="~/Scripts/LedgerEdit.js"></script>
@section title{Edit}
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div align="center">
            @ViewBag.error
            <table>
                <tr>
                    <td>Ledger Description</td>
                    <td><textarea id="desc" cols="50" rows="2" name="LedgerDescription">@Model.LedgerDescription</textarea><label style="color:red">*</label>
                    <p id="error"></p></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input class="btn btn-default" type="submit" value="Save changes" /></td>
                </tr>
            </table><br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
    