
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/TransactionCreateScripts.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>CreateInternalTransaction</title>
</head>
<body>
    <div align="center">
        <h2>Enter Transaction Details</h2><hr/>
        <div id="internaltransactionDetailDiv">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <table>
                    <tr>
                        <td>Transaction Date</td>
                        <td><input type="date" name="TransactionDate" value="" /></td>
                    </tr>
                    <tr>
                        <td>Transaction Description</td>
                        <td><textarea rows="2" cols="50" name="Description"></textarea></td>
                    </tr>
                </table>
                <table width="40%">
                    <tr>
                        @*left part*@
                        <td>
                            Source Account<hr />
                            Select Account<br />
                            @Html.DropDownList("SourceAcc_Account", (List<SelectListItem>)ViewBag.SelectList)
                            <br />

                            Amount<br />
                            <input type="number" name="SourceAcc_Amount" id="SourceAcc_Amount" min="0" value="" /><br />

                            Transaction <br />
                            <input type="text" name="SourceAcc_TransactionType" id="SourceAcc_TransactionType" value="" readonly />
                        </td>
                        @*right part*@
                        <td>
                            Destination Account<hr />
                            Select Account<br />
                            @Html.DropDownList("DestAcc_Account", (List<SelectListItem>)ViewBag.SelectList)
                            <br />

                            Amount<br />
                            <input type="number" name="DestAcc_Amount" id="DestAcc_Amount" min="0" value="" readonly /><br />

                            Transaction <br />
                            <input type="text" name="DestAcc_TransactionType" id="DestAcc_TransactionType" value="" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="submit" value="Confirm Transaction" disabled=""/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><p id="okay">Please select 2  accounts of different transaction type</p></td>
                    </tr>
                </table>
            }
            <a href="/Company/Index">To Dasboard</a>
            meanings of credits and debits:
            <table align="center">
                <tr>
                    <th>account type</th>
                    <th>On decrease(when source)</th>
                    <th>On increase(when destination)</th>
                </tr>
                <tr>
                    <td>Cash</td>
                    <td>Credit</td>
                    <td>Debit</td>
                </tr>
                <tr>
                    <td>Capital</td>
                    <td>Debit</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>Expense</td>
                    <td>Credit</td>
                    <td>Debit</td>
                </tr>
                <tr>
                    <td>Income</td>
                    <td>Debit</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>Liability</td>
                    <td>Debit</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>Asset</td>
                    <td>Debit</td>
                    <td>Credit</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
