
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div align="center">
        <a href="/Transaction/CreateExternal">Transaction Where money comes from external source</a><br/> or
        <a href="/Transaction/CreateInternal">Transaction Where money transfers between internal accounts</a>
    </div>
</body>
</html>
