@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Create}

<div align="center" class="container">

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-body">
                <h2 class="h2">Transaction Where money comes from external source</h2>
                <a href="/Transaction/CreateExternal" class="btn btn-success">External</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-body">
                <h2 class="h2">Transaction Where money transfers between internal accounts</h2>
                <a href="/Transaction/CreateInternal" class="btn btn-success">Internal</a>
            </div>
        </div>
    </div>
</div>