
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{CreateExternalTransaction}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/CreateExternalTransaction.js"></script>
    
<div align="center" class="container">
    <h2 class="h2">Enter Transaction Details</h2><hr />
    <div id="externaltransactionDetailDiv">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <table>
                <tr>
                    <td>Transaction Date</td>
                    <td class="form-inline">
                        <input class = "form-control" type="date" name="TransactionDate" id="TransactionDate" value="" />
                        <label style="color: red">*</label><br />
                        <p> </p>
                        <p hidden id="dateError"></p>
                    </td>
                </tr>
                <tr>
                    <td>Transaction Description</td>
                    <td class="form-inline">
                        <textarea class = "form-control" rows="2" cols="50" name="Description" id="Description"></textarea>
                        <label style="color: red">*</label><br />
                        <p> </p>
                        <p hidden id="descError"></p>
                    </td>
                </tr>
            </table>
            <table width="50%">
                <tr>
                    <td>Amount: </td>
                    <td class="form-inline">
                        <input class = "form-control" type="number" id="Amount" name="Amount" min="0"/>
                        <label style="color: red">*</label><br />
                        <p> </p>
                        <p hidden id="amounError"></p>
                    </td>
                </tr>
                <tr>
                    @*left part*@
                    <td class="form-inline">
                        Account 1<hr />
                        Select Account<br />
                        @Html.DropDownList("Account_1", (List<SelectListItem>)ViewBag.SelectList, htmlAttributes: new { @class = "form-control" })
                        <br />

                        Transaction <br />
                        <input type="text" class = "form-control" name="Account_1_TransactionType" id="Account_1_TransactionType" value="" readonly />
                        <p> </p>
                    </td>
                    @*right part*@
                    <td class="form-inline">
                        Account 2<hr />
                        Select Account<br />
                        @Html.DropDownList("Account_2", (List<SelectListItem>)ViewBag.SelectList, htmlAttributes: new { @class = "form-control" })
                        <br />

                        Transaction <br />
                        <input  type="text" class = "form-control" name="Account_2_TransactionType" id="Account_2_TransactionType" value="" readonly />
                        <p> </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input class="btn btn-primary" type="submit" id="submit" value="Confirm Transaction" disabled/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><p id="error"></p></td>
                </tr>
            </table>
        }
        <a href="/Company/Index">To Dasboard</a>
           
    </div>
</div>
