
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWithoutRollBack</title>
</head>
<body>
    <div align="center">
        Transactions deleted but accounts remain inconsistent.
        <a href="/Company/Index">Back to Dashboard</a>
    </div>
</body>
</html>
