@model IEnumerable<int>
@using AllieEntity
@using AllieService
@using AllieService.ServiceInterfaces
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWithoutRollBack</title>
</head>
<body>
    <div align="center">
        Transactions deleted but the following accounts remain inconsistent:<br/>
        @{ 
            IAccountServices service = ServiceFactory.GetAccountServices();
            foreach(int id in Model)
            {
                <label style="color: red">service.Get(id).AccountDescription</label>
            }
        }
        <a href="/Company/Index">Back to Dashboard</a>
    </div>
</body>
</html>
