@model AllieEntity.Transaction

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Edit}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/TransactionEdit.js"></script>
    
<div align="center" class="container">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4 class="h4">Edit Transaction</h4>
        <hr />
        @ViewBag.Error
    
        <div class="form-group">
            Transaction Description
            <div class="form-inline">
                <textarea class="form-control" cols="50" rows="2" id="Description" name="TransactionDescription">@Model.TransactionDescription</textarea>
                <label style="color: red">*</label><br />
                <p hidden id="descError"></p>
            </div>
        </div>

        <div class="form-group">
            <div class="form-inline">
                <input type="submit" id="submit" value="Save" class="btn btn-default"/>
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class="btn btn-default"})
            </div>
        </div>
    </div>
}
</div>