@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Change Password</h4>
            <hr />
            @ViewBag.Error
    
            <table>
                <tr>
                    <td>Old Password</td>
                    <td><input type="password" name="OldPassword" value="" /></td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="NewPassword" value="" /></td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Profile", "UserProfile")
    </div>
</body>
</html>
