
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section title{
    Company_Index
}
    
<div align="center">
    <h1>Welcome to Allie Accounting</h1>
    <br /><hr />
    <a class="btn" href="/Company/Details">Company Details</a> &nbsp;
    <a class="btn" href="/Account/Index">Accounts</a> &nbsp;
    <a class="btn" href="/Transaction/Index">Transactions</a> &nbsp;
    <a class="btn" href="/Journal/Index">Journals</a> &nbsp;
    <a class="btn" href="/Ledger/Index">Ledgers</a> &nbsp;
    <a class="btn" href="/IncomeStatement/Index">Income Statements</a>
    <br /><hr />
</div>