
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company_Index</title>
</head>
<body>
    <div align="center">
        <h1>Welcome to Allie Accounting</h1>
        <br /><hr />
        <a href="#">Employees</a> &nbsp;
        <a href="/Account/Index">Accounts</a> &nbsp;
        <a href="/Transaction/Index">Transactions</a> &nbsp;
        <a href="/Journal/Index">Journals</a> &nbsp;
        <a href="/Ledger/Index">Ledgers</a> &nbsp;
        <a href="/IncomeStatement/Create">Income Statements</a>
        <br /><hr />
    </div>
</body>
</html>
