
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowConfirmation</title>
</head>
<body>
    <div align="center">
        <label>Password changed</label><br />
        <a href="/Company/UserProfile">Profile</a>
    </div>
</body>
</html>
